.button {
    padding: 10px;
    background: $white;
    color: $black;
    text-decoration: none;
    font-size: 16px;
    min-width: 100px;
    text-align: center;
    outline: none;
    border: none;
    transition: 200ms transform;
    border-radius: 6px;

    &:active {
        transform: translateY(2px);
    }
}